# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\challenge\qa-automation-ruby\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
